.LinkBack {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	cursor: pointer;
	margin-right: auto;
	transition: all 0.2s ease;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 0.25rem;
		text-decoration-color: var(--color-gray-sub);
	}
}

.LinkBack__title {
	color: var(--color-gray-sub);
	font-size: var(--font-size-base);
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
}
