.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
}

.head,
.center,
.tail {
	width: fit-content;
	display: flex;
	align-items: center;
}

.center {
	position: absolute;
	top: 14px;
	left: 50%;
	transform: translateX(-50%);
}
