.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
}

.head {
  justify-self: start;
  grid-column: 1;
}

.center {
  justify-self: center;
  grid-column: 2;
}

.tail {
  justify-self: end;
  grid-column: 3;
  min-width: 0;
  overflow: hidden;
}

@media (width <= 1440px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 0.75rem;
  }

  .head {
    grid-column: 1;
    grid-row: 1;
  }

  .center {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: start;
    width: 100%;
    padding-top: 0.75rem;
    border-top: 1px solid var(--color-gray-border);
  }

  .tail {
    grid-column: 3;
    grid-row: 1;
  }
}

@media (width <= 792px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 0.75rem;
  }

  .head {
    grid-column: 1;
    grid-row: 1;
  }

  .center {
    grid-column: 1;
    grid-row: 3;
    padding-top: 0.75rem;
    border-top: 1px solid var(--color-gray-border);
  }

  .tail {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
  }
}
