.scriptElement__title {
  font-size: var(--font-size-base);
  font-weight: 600;
  transition: color 0.2s;
  color: var(--color-dark-main);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 100%;
}

.scriptElement {
  padding: 1.5rem;
  border: 1px solid var(--color-gray-border);
  justify-content: space-between;
  gap: 0.5rem;
  min-width: 0;

  &:hover .scriptElement__title {
    color: var(--color-purple-main);
  }
}

.scriptElement__supblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 5rem;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}

.scriptElement__runs {
  color: var(--color-gray-light2);
  font-size: var(--font-size-xs);
}

.scriptElement__subtitle {
  color: var(--color-gray-sub);
  font-size: var(--font-size-xs);
  height: 5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow-wrap: break-word;
}

.scriptElement__author {
  color: var(--color-gray-light2);
  font-size: var(--font-size-xs);
  min-width: 0;
}

.scriptElement__info .scriptElement__author {
  justify-content: flex-start;
}

.scriptElement__author > *:first-child {
  flex-shrink: 0;
}

.scriptElement__authorText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.scriptElement__data {
  color: var(--color-gray-light2);
  font-size: var(--font-size-xs);
}

.scriptElement__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.scriptElement__interactive {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.scriptElement__editIcon,
.scriptElement__delIcon {
  line-height: 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: var(--color-gray-sub);
}

.scriptElement__editIcon {
  &:hover {
    color: var(--color-purple-main);
    background-color: var(--color-purple-light);
  }
}

.scriptElement__delIcon {
  &:hover {
    color: var(--color-red-main);
    background-color: var(--color-red-light-background);
  }
}

.scriptElement__runBtn {
  font-size: var(--font-size-xs);
}
