.uploader {
  margin: 1rem 0;
}

.dropzone {
  width: 100%;
  max-width: 400px;
  height: 150px;
  border: 2px dashed #999;
  background-color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
  padding: 1rem;
  position: relative;
}

.dropzone:hover {
  background-color: #eaeaea;
}

.dropzoneDragging {
  border-color: #a855f7; /* Фиолетовый */
  background-color: #f3e8ff; /* Светло-фиолетовый фон */
}

.placeholder {
  font-size: 14px;
  color: #777;
  pointer-events: none;
}

.filename {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  pointer-events: none;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.hint {
  margin-top: 0.5rem;
  max-width: 400px;
  font-size: .75rem;
  line-height: 1.4;
  color: #6b7280;
  text-align: center;
}
