/* .justifyBetween {
  justify-content: space-between;
}

.headerList {
  width: 100%;
  display: flex;
  align-items: center;
}

.listBorder {
  border-bottom: 1px solid var(--color-gray-border);
  margin-bottom: 1rem;
}

.headerList__left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerList_subtitle {
  font-size: var(--font-size-xs);
  color: var(--color-gray-sub);
  font-weight: 400;
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: start; 
  /* width: 22.5%;
  padding: 0.75rem 1.5rem;
  color: var(--color-gray-light2);
  font-weight: 500;
  font-size: var(--font-size-xxs);

  &:last-child {
    width: 10%; 
  }
} 
*/

/* .addButton {
  width: fit-content;
  padding: 0.75rem 1rem;
  font-weight: 600;
  color: var(--color-white-main);
  background-color: var(--color-purple-main);
}

.addIcon {
  width: 1rem;
  height: 1rem;
}

.headerName {
  height: fit-content;
} */

/* .extendedBlock__main {
  padding-inline: 1.5rem;
} */

.extendedBlock__content {
  grid-template-columns: 1fr;
}

/* 
.preblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;

}

.preblock__icon {
  margin-bottom: 0.5rem;
}

.preblock__text {
  color: var(--color-gray-light2);
  font-size: var(--font-size-sm);
}

.preblock__subtext {
  color: var(--color-gray-light2);
  font-size: var(--font-size-xs);
} */
