.layout {
  border-radius: var(--border-radius-base);
  transition: box-shadow 0.2s;
  height: 18rem;
  background: white;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: var(--shadow-lg);
  }
}

.EmptyScript__title {
  margin-top: 0.75rem;
  font-weight: 500;
  font-size: var(--font-size-base);
}

.EmptyScript {
  border: 1px dashed var(--color-gray-stroke);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: none;
    border-color: var(--color-purple-main);

    /* background-color: var(--color-purple-light); */
    transform: translateY(-2px);

    .EmptyScript__title {
      color: var(--color-purple-main);
    }
  }

  &:active {
    transform: translateY(0);
  }
}

.EmptyScript__content {
  display: flex;
  color: var(--color-gray-light2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
