.ScriptInfo {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  border: 1px solid var(--color-gray-border);
  border-radius: var(--border-radius-base);
  background: var(--color-white-clear);
}

.ScriptInfo__title {
  max-width: 60%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.ScriptInfo__subtitle {
  max-width: 60%;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ScriptInfo__info {
  display: flex;
  gap: 4rem;
}

.ScriptInfo__author {
  color: var(--color-gray-light2);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

.ScriptInfo__date {
  color: var(--color-gray-light2);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

@media (width <= 1024px) {
  .ScriptInfo__title,
  .ScriptInfo__subtitle {
    max-width: 100%;
  }
}
