.ScriptParametrs__header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ScriptParametrs__title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.innerContent {
  padding: 2rem;
}
