.actionsCell {
  display: flex;
  gap: 0.5rem;
}

.editIcon,
.delIcon,
.saveIcon,
.cancelIcon {
  line-height: 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.editIcon {
  color: var(--color-purple-main);
}

.editIcon:hover {
  color: var(--color-purple-main);
  background-color: var(--color-purple-light);
}

.delIcon {
  color: var(--color-red-main);
}

.delIcon:hover {
  color: var(--color-red-main);
  background-color: var(--color-red-light-background);
}

.saveIcon {
  color: var(--color-green-main);
}

.saveIcon:hover {
  background-color: var(--color-green-light-stroke);
}

.cancelIcon {
  color: var(--color-gray-sub);
}

.cancelIcon:hover {
  background-color: var(--color-gray-border);
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}
