.page__container {
  gap: 2rem;
}

.page_runScriptBtn {
  max-width: 13rem;
  height: 3.5rem;
}

.col2 {
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.padding {
  padding: 2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
