.fileInput {
  border: 2px dashed var(--color-gray-stroke);
  transition: background 0.5s;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-gray-sub);
  height: fit-content;
  padding-block: 0.8005rem;
  cursor: pointer;

  &:hover {
	background-color: var(--color-gray-superlight);
  }
}

.hover {
	background-color: var(--color-gray-superlight);
}

.fileInput__text{
	color: var(--color-gray-sub);
}

.fileComponent{
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  padding: 1rem;
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-dark-main);
  color: var(--color-dark-main);
}