.filter__select {
  height: 100%;
  width: 100%;

  /* padding: 1rem 0.75rem 1rem 2.75rem; */
  background: var(--color-white);
  color: var(--color-dark-main);
  font-size: var(--font-size-base);
  outline: none;
  border: 2px solid var(--color-gray-border);
  border-radius: 1rem;
  appearance: none;
  cursor: pointer;

  &.error,
  &.error:hover,
  &.error:focus {
    border-color: var(--color-red-light-main);
  }

  /* обработчики лежат в usecase filter */

  /* &:hover {
    border-color: var(--color-gray-border2);
  }

  &:focus,
  &:focus:hover,
  &:focus-visible,
  &:focus-visible:hover {
    border-color: var(--color-purple-main);
  } */
}

.filter__icon {
  margin-left: 0.75rem;
  aspect-ratio: 1/1;
  display: inline-block;
  line-height: 0;
  pointer-events: none;
}

.errorText {
  display: flex;

  /* position: absolute; */
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
  top: 100%;

  /* opacity: 0; */

  /* visibility: hidden; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: var(--color-red-main);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &::before {
    content: '';
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: var(--color-red-main);
  }
}
