.buttonContainer {
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-width: 1px;
  border-style: solid;

  &.okay {
    border-color: var(--color-green-light-border);
    background-color: var(--color-green-light-background);
    color: var(--color-green-light);
  }

  &.error {
    border-color: var(--color-red-light-border);
    background-color: var(--color-red-light);
    color: var(--color-red-main);
  }

  &.running {
    border-color: var(--color-blue-light-border);
    background-color: var(--color-blue-background);
    color: var(--color-blue-main);
  }

  &.pending {
    border-color: var(--color-yellow-stroke);
    background-color: var(--color-yellow-light2);
    color: var(--color-yellow-text);
  }
}

.icon {
  line-height: 0;
  width: 1rem;
  height: 1rem;
}

.text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
