:root {
  --container-max-width: 100rem;

  --color-white: #ffffff;
  --color-white-main: #f9fafb;
  --color-dark-main: #111827;

  --color-gray-sub: #4b5563;
  --color-gray-light: #b6acaf;
  --color-gray-border: #e5e7eb;
  --color-gray-border2: #d1d5db;
  --color-gray-light2: #6b7280;
  --color-gray-stroke: #d1d5db;
  --color-gray-background: #f3f4f6;
  --color-gray-bio: #374151;

  --color-purple-main: #971aff;
  --color-purple-dark: #7a00e6;
  --color-purple-light: #d29cff40;

  --color-blue-light: #eff6ff;

  --color-red-light: #fee2e2;

  --font-size-lg: 1.875rem;
  --font-size-md: 1.5rem;
  --font-size-base: 1.125rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.875rem;

  --shadow-lg: 0px 4px 4px 0px #00000025;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-dark-main);
  background: var(--color-white-main);
  font-family: Inter, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
