.headerRow {
  background-color: var(--color-white-main);
}

@media (max-width: 767px) {
  .headerRow {
    display: none;
  }
}

.headerCell {
  color: var(--color-gray-light2);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
}
