.header {
  max-width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--color-gray-border);
  box-shadow: 0 0.125rem 0.5rem 0 #223c5010;
}

.company {
  width: fit-content;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.info {
  width: 100%;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.title {
  color: var(--color-dark-main);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.subtitle {
  color: var(--color-gray-light2);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}

.links {
  width: fit-content;
  display: flex;
  gap: 0.25rem;
}

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.personBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.personIcon {
  width: 1rem;
  height: 1rem;
}

.personData {
  color: var(--color-gray-bio);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.link {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background: white;
  color: var(--color-gray-sub);
  cursor: pointer;
}

.linkHover:hover {
  background: var(--color-gray-background);
  color: var(--color-dark-main);

  img {
    filter: brightness(0) saturate(100%) invert(7%) sepia(17%) saturate(2110%) hue-rotate(182deg)
      brightness(87%) contrast(94%);
  }
}

.linkActive {
  background: var(--color-purple-light);
  color: var(--color-purple-main);

  img {
    filter: brightness(0) saturate(100%) invert(20%) sepia(86%) saturate(6732%) hue-rotate(271deg)
      brightness(102%) contrast(104%);
  }
}

.logoutBtn {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-gray-sub);
}

.logoutBtn:hover {
  background-color: var(--color-gray-background);
  color: var(--color-dark-main);

  img {
    filter: brightness(0) saturate(100%) invert(7%) sepia(17%) saturate(2110%) hue-rotate(182deg)
      brightness(87%) contrast(94%);
  }
}

@media (width <= 1024px) {
  .link {
    flex-direction: column;
    grid-area: 0.25rem;
  }
}
