.main {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	gap: 2rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
}

.icon {
	margin-bottom: 1rem;
}

.title {
	font-size: var(--font-size-lg);
	font-weight: 700;
	color: var(--color-dark-main);
}

.subtitle {
	font-size: var(--font-size-sm);
	color: var(--color-gray-sub);
	margin-top: 0.5rem;
}
