.scriptsPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.scriptsList {
  display: grid;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (width <= 1200px) {
  .scriptsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 768px) {
  .scriptsList {
    grid-template-columns: 1fr;
  }
}
