.ScriptParametrsLayout {
  overflow: hidden;
  border: 1px solid var(--color-gray-border);
  border-radius: var(--border-radius-base);
  width: 100%;
  padding-bottom: 1rem;
}

.ScriptParametrsLayout__header {
  background: var(--color-white-main);
  padding: 1.5rem 2rem;
  border-bottom: 1px solid var(--color-gray-border);
}

.ScriptParametrsLayout__header.smallPadding {
  padding: 0.75rem 1.5rem;
}

.padding {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: var(--color-white-clear);
  gap: 1.5rem;
}

.ScriptParametrsLayout__content {
  display: grid;
  gap: 1.5rem;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  background: var(--color-white-clear);
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.6s ease-in;
}

.ScriptParametrsLayout__content.expanded {
  grid-template-rows: 1fr;
}

.ScriptParametrsLayout__content__children {
  min-height: 0;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
  background: var(--color-white-clear);

  /* padding: 2rem; */
  height: fit-content;
}

.ScriptParametrsLayout__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScriptParametrsLayout__extendBtn {
  width: 2rem;
  height: 2rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.ScriptParametrsLayout__extendBtn_btn {
  fill: var(--color-gray-sub);
  transition: fill 0.2s ease-in;

  &:hover {
    fill: var(--color-gray-main);
  }
}

@media (width <= 1024px) {
  .ScriptParametrsLayout__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
