.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.controlPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: white;
  border-radius: 1rem;
  border: 0.125rem solid var(--color-gray-border);
  padding: 1.5rem;
}

.searchFilterGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search {
  flex: 1;
  min-width: 0;
}

.filter {
  width: 16rem;
  height: 4rem;
  min-width: 12rem;
}

.pipelines {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.emptyState {
  padding: 2rem;
  text-align: center;
  color: var(--color-gray-sub);
  background: white;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--color-gray-border);
}

@media (width <= 768px) {
  .controlPanel {
    padding: 1rem;
  }

  .searchFilterGroup {
    flex-direction: column;
  }

  .filter {
    width: 100%;
    min-width: 0;
  }
}
