.stats {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--color-gray-sub);
  font-size: 0.875rem;
}

.divider {
  color: var(--color-gray-border);
}

@media (width <= 768px) {
  .stats {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (width < 467px) {
  .stats .divider:is([data-divider-index="1"]) {
    display: none;
  }
}

@media (width < 326px) {
  .stats .divider:is([data-divider-index="0"]) {
    display: none;
  }
}

@media (width < 371px) {
  .stats .divider:is([data-divider-index="2"]) {
    display: none;
  }
}
