.btn {
	border: 0;
	text-align: center;
	border-radius: 0.5rem;
	/* width: fit-content; */
	max-width: 18rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	cursor: pointer;
}
