.fileInput {
  border: 2px dashed var(--color-gray-stroke);
  transition: background 0.5s;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-gray-sub);
  height: fit-content;
  padding-block: 0.8005rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-superlight);
  }

  &:focus {
    outline: none;
    border-color: var(--color-purple-main);
  }

  &.hasError,
  &.hasError:hover,
  &.hasError:focus {
    border-color: var(--color-red-light-main);
  }
}

.hover {
  background-color: var(--color-gray-superlight);
}

.fileInput__text {
  color: var(--color-gray-sub);
}

.fileComponent {
  position: relative;
  width: 7rem;
  height: 7rem;
  aspect-ratio: 1/1;
  padding: 1rem;
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dashed var(--color-dark-main);
  color: var(--color-dark-main);
}

.deleteFile {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--color-red-dark-main);
  }
}

.python {
  width: 3rem;
  height: 3rem;
}

.FileName {
  font-weight: 500;
  font-size: var(--font-size-xs);
  line-height: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-mask-image: linear-gradient(to bottom, #000 0%, #000 100%);
  mask-image: linear-gradient(to bottom, #000 0%, #000 100%);
}

.FileSize {
  font-weight: 400;
  font-size: var(--font-size-xxs);
  line-height: 1rem;
  color: var(--color-gray-sub);
}

.checkFile {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.fileList {
  display: flex;
  width: 100%;
  padding-inline: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.dragActive {
  border: 2px dashed purple;
  background-color: #f9f5ff;
}
