.headerList {
  width: 100%;
  display: flex;
  align-items: center;
}

.listBorder {
  border-bottom: 1px solid var(--color-gray-border);
  margin-bottom: 1rem;
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 22.5%;
  padding: 0.75rem 1.5rem;
  color: var(--color-gray-light2);
  font-weight: 500;
  font-size: var(--font-size-xxs);

  &:last-child {
    width: 10%;
  }
}

.preblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}

.preblock__icon {
  margin-bottom: 0.5rem;
}

.preblock__text {
  color: var(--color-gray-light2);
  font-size: var(--font-size-sm);
}

.preblock__subtext {
  color: var(--color-gray-light2);
  font-size: var(--font-size-xs);
}
