.row{
    display: flex;
    justify-content: space-between;
	/* gap: 2.3rem; */
}

.scriptElement__delIcon {
	line-height: 0;
	padding: .75rem;
	border-radius: .5rem;
	color: var(--color-gray-sub);
}

.scriptElement__delIcon {
	&:hover {
		color: var(--color-red-main);
		background-color: var(--color-red-light-background);
	}
}


.filter__type{
	height: 3.5rem;
	max-height: 3.5rem;
	max-width: 11rem;
}

.filter__measure{
	height: 3.5rem;
	max-height: 3.5rem;
	max-width: 17rem;
}

.input{
	max-width: 12.4rem;
}