.row {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray-border);
  /* gap: 2.3rem; */
}

.scriptElement__delIcon {
  line-height: 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: var(--color-gray-sub);
}

.scriptElement__delIcon {
  &:hover {
    color: var(--color-red-main);
    background-color: var(--color-red-light-background);
  }
}

.filter__type {
  height: 3.25rem;
  max-height: 3.25rem;
  min-height: 3.25rem;
  max-width: 11rem;
  width: 11rem;
  min-width: 11rem;
  align-content: center;
}

.filter__measure {
  height: 3.25rem;
  max-height: 3.25rem;
  min-height: 3.25rem;
  max-width: 17rem;
  min-width: 17rem;
  width: 17rem;
  align-content: center;
}

.input {
  max-width: 12.4rem;
  height: fit-content;
}

